<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин

In [ ]:
2 - мужчины

In [7]:
df.groupby('gender').count()

,age,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
gender,,,,,,,,,,,
1,45530,45530,45530,45530,45530,45530,45530,45530,45530,45530,45530
2,24470,24470,24470,24470,24470,24470,24470,24470,24470,24470,24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины

In [13]:
df[df.alco == 1].groupby('gender').alco.count()/df.groupby('gender').alco.count()

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 12

In [20]:
round((df[(df.smoke == 1) & (df.gender == 2)].smoke.count()/df[(df.gender == 2)].smoke.count())/ \
(df[(df.smoke == 1) & (df.gender == 1)].smoke.count()/df[(df.gender == 1)].smoke.count()))

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 20

In [21]:
df.groupby('smoke').age.median()

smoke
0    19722
1    19125
Name: age, dtype: int64

In [23]:
(19722-19125)/30

19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [98]:
df["age_years"] = round(df.age/365)

In [102]:
df_cut = df[(df.age_years >= 60)& (df.age_years <= 64)& (df.gender == 2) & (df.smoke == 1)]

In [103]:
df1 = df_cut[(df_cut.ap_hi < 120) & (df_cut.cholesterol == 1)]
df2 = df_cut[(df_cut.ap_hi >= 160) & (df_cut.ap_hi < 180) & (df_cut.cholesterol == 3)]

In [104]:
round((df2[df2.cardio == 1].cardio.count()/df2.cardio.count())/(df1[df1.cardio == 1].cardio.count()/df1.cardio.count()))

3.0

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму + 
- У женщин в среднем BMI ниже, чем у мужчин -
- У здоровых в среднем BMI выше, чем у больных -
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин +

In [54]:
df[(df.cardio == 0) & (df.alco == 0) & (df.gender == 2)].bmi.mean()

26.52934504519952

In [55]:
df[(df.cardio == 0) & (df.alco == 0) & (df.gender == 1)].bmi.mean()

26.845406594131518

In [39]:
df['bmi'] = df.weight /((df.height/100) *(df.height/100))

In [43]:
df.groupby('cardio').bmi.mean()

cardio
0    26.548175
1    28.566061
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [75]:
round(df[(df.ap_hi < df.ap_lo) | (df.height < df.height.quantile(0.025)) | (df.height > df.height.quantile(0.975))
                         | (df.weight < df.weight.quantile(0.025)) | (df.weight > df.weight.quantile(0.975))].age.count()/df.age.count())

0.0

In [64]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60.0,29.384676
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61.0,37.729725
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62.0,29.983588
13,17668,1,158,71.0,110,70,1,1,0,0,1,0,48.0,28.440955
14,19834,1,164,68.0,110,60,1,1,0,0,0,0,54.0,25.282570
15,22530,1,169,80.0,120,80,1,1,0,0,1,0,62.0,28.010224
16,18815,2,173,60.0,120,80,1,1,0,0,1,0,52.0,20.047446
18,14791,2,165,60.0,120,80,1,1,0,0,0,0,41.0,22.038567
21,19809,1,158,78.0,110,70,1,1,0,0,1,0,54.0,31.244993
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,40.0,28.997894
24,16782,2,172,112.0,120,80,1,1,0,0,0,1,46.0,37.858302
25,21296,1,170,75.0,130,70,1,1,0,0,0,0,58.0,25.951557
27,16747,1,158,52.0,110,70,1,3,0,0,1,0,46.0,20.829995
28,17482,1,154,68.0,100,70,1,1,0,0,0,0,48.0,28.672626
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0,21.338211
30,19778,2,163,83.0,120,80,1,1,0,0,1,0,54.0,31.239414
31,21413,1,157,69.0,130,80,1,1,0,0,1,0,59.0,27.993022
32,23046,1,158,90.0,145,85,2,2,0,0,1,1,63.0,36.051915
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64.0,18.491124
35,16608,1,170,68.0,150,90,3,1,0,0,1,1,46.0,23.529412
36,14453,1,153,65.0,130,100,2,1,0,0,1,0,40.0,27.767098
37,19559,1,156,59.0,130,90,1,1,0,0,1,0,54.0,24.243918
38,18085,1,159,78.0,120,80,1,1,0,0,1,0,50.0,30.853210
39,14574,2,166,66.0,120,80,1,1,0,0,1,0,40.0,23.951227
40,21057,2,169,74.0,130,70,1,3,0,0,0,0,58.0,25.909457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99958,22572,2,173,103.0,140,80,3,1,1,1,0,1,62.0,34.414782
99959,20136,2,177,80.0,130,80,1,1,0,0,1,0,55.0,25.535446
99960,17065,1,165,76.0,140,90,1,1,0,0,1,1,47.0,27.915519
99961,22142,2,175,72.0,130,80,1,1,0,0,1,0,61.0,23.510204
99962,18226,1,168,75.0,120,80,1,1,0,0,1,0,50.0,26.573129
99963,21264,2,182,100.0,120,80,1,1,0,0,1,1,58.0,30.189591
99964,21699,1,163,65.0,120,80,2,2,0,0,1,0,59.0,24.464602
99965,16843,1,168,75.0,120,79,1,1,0,0,1,0,46.0,26.573129
99967,18800,1,163,78.0,90,60,1,1,0,0,1,1,52.0,29.357522
99969,22423,1,163,74.0,160,100,2,2,0,0,1,1,61.0,27.852008
99971,17727,2,167,69.0,110,80,1,1,0,1,0,0,49.0,24.740937
99972,17500,2,182,110.0,130,90,2,2,0,0,1,1,48.0,33.208550
99973,18941,1,153,86.0,130,90,1,2,0,0,1,1,52.0,36.738007
99974,19652,1,165,72.0,120,80,1,1,0,0,1,0,54.0,26.446281
99975,17926,2,168,80.0,120,80,1,1,0,0,1,1,49.0,28.344671
99977,18194,1,156,102.0,130,80,1,1,0,1,0,1,50.0,41.913215
99978,18198,2,180,78.0,120,80,1,1,0,0,1,0,50.0,24.074074
99979,18852,1,151,49.0,120,80,1,1,0,0,1,0,52.0,21.490286
99981,21978,1,160,59.0,110,70,1,1,0,0,1,0,60.0,23.046875
99985,21013,1,157,83.0,120,70,1,1,0,0,1,1,58.0,33.672766
99986,15094,1,168,72.0,110,70,1,1,0,0,1,1,41.0,25.510204
99988,20609,1,159,72.0,130,90,2,2,0,0,1,0,56.0,28.479886
99990,18792,1,161,56.0,170,90,1,1,0,0,1,1,51.0,21.604105
99991,19699,1,172,70.0,130,90,1,1,0,0,1,1,54.0,23.661439
99992,21074,1,165,80.0,150,80,1,1,0,0,1,1,58.0,29.384757
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,53.0,26.927438
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,62.0,50.472681
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.0,31.353579
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.0,27.099251
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.0,24.913495

In [67]:
round(((70000-61203)/70000)*100)

13